/**
 * @file base/_example.myth.css
 *
 * @description
 * sample myth.io file
 *
  * @see https://github.com/segmentio/myth
 *
 *
 */

/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the official CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

:root {
  /**
	 * typographic baseline
	 *
	 * font-size: 18px;
	 * line-height: 1.666;
	 * scale: 1.618; - golden section
	 * @see http://www.gridlover.net/app/
	*/
  /**
	 * colors
	 */
}

/**
 * @file base/_mediaqueries.myth.css
 *
 * @description
 * Define all your custom media queries
 * Use the oficial CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * @see http://dev.w3.org/csswg/mediaqueries/#custom-mq
 * @see https://github.com/segmentio/myth
 *
 * @example
 *
 * Definition:
 * @custom-media --narrow-window screen and (max-width: 30em);
 *
 * Include in your file as
 * @media (--narrow-window) {}
 *
 * Universal css
 * @media screen and (max-width: 30em) {}
 *
 *
 * @TODO
 *
 */

/* custom media query @see http://dev.w3.org/csswg/mediaqueries/#custom-mq */

@media screen and (max-width: 30em) {
  html {
    font-size: 1.2rem;
  }
}

a {
  /* simple calc() @see http://www.w3.org/TR/css3-values/#calc-notation */
  margin: 20px;
  /* basic autoprefixer @see https://github.com/postcss/autoprefixer */
  -webkit-transition: color 1s;
  transition: color 1s;
  /* font-variant @see http://www.w3.org/TR/css3-fonts/#font-variant-prop*/
  -webkit-font-feature-settings: "smcp", "c2sc";
  -moz-font-feature-settings: "smcp", "c2sc";
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
}

.state--error {
  /* basic variables @see http://dev.w3.org/csswg/css-variables/ */
  color: red;
  padding: 10px;
}

.state--errror:hover {
  /* css-color() functions @see http://dev.w3.org/csswg/css-color/#modifying-colors */
  color: rgb(255, 51, 51);
}