/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the official CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

:root {
  /**
	 * typographic baseline
	 *
	 * font-size: 18px;
	 * line-height: 1.666;
	 * scale: 1.618; - golden section
	 * @see http://www.gridlover.net/app/
	*/
  /**
	 * colors
	 */
}