/**
 * @project AUDI ACCESS (AXS)
 * @file base.css
 *
 * @description
 *
 * Two generic whitespace reset rules
 * For more advanced css resets @see advanced-reset.css
 *
 * Default settings for:
 * - html background & color
 * - .clear: clear: both;
 * - .clearfix: clear using generated content (css content property) and clear: both;
 * - .micro-clearfix: clear using generated content (css content property) and display: table-cell;
 * - .floatbox: clear using overflow
 * - .float-left
 * - .float-right
 * - .float-none
 * - horizontal & vertical text alignment
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 *
 * @TODO
 *
 */

/**
* @section html default background
*/
html {
	/* http://www.zeldman.com/2008/11/07/is-your-websites-underwear-showing/ */
	background:#fff;
	color:#000;
	font-family: 'NokiaPureLt';
}

html,
body {
/*
	height: 100%;
	min-height: 100%;*/
}


/**
 * Generic clearing classes
 *  - .clear: clear: both;
 *  - .clearfix: clear using generated content (css content property)
 *  - .floatbox: clear using overflow
 * @section clearing
  */

/**
 * @subsection .clear
 * @see http://www.positioniseverything.net/easyclearing.html
 */

.clear {
	clear: both;
}

/**
 * .clearfix
 * @subsection .clearfix
 * @see  http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/#comment28
 */
.clearfix:after {
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

/**
 * .clearfix
 * @css-for safari
 */
.clearfix {
	display: block;
}

/**
 * .clearfix
 * add hasLayout for IE
 *
 * @workaround
 * @see			http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/#comment28
 * @affected	IE6, IE7
 * @css-for		IE6, IE7
 * @see http://www.satzansatz.de/cssd/onhavinglayout.html#reset
 * The display-property differs:
 * while ‘inline-block’ sets haslayout = true,
 * the flag will not be reset to false later on by overriding the value with
 * ‘block’ or ‘inline’ in another rule set”.
 * */
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}

/**
 * .clearfix
 * add hasLayout for IE6
 * @deprecated
 * @affected	IE6
 * @css-for		IE6
 *
*/
/* html .clearfix {
	zoom: 1;
	height: 1%;
}
*/


/**
 * micro clearfix - For modern browsers
 * @subsection .micro-clearfix
 * @see: http://nicolasgallagher.com/micro-clearfix-hack/
 * 1. The space content is one way to avoid an Opera bug when the
 *	contenteditable attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */
.micro-clearfix:before,
.micro-clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.micro-clearfix:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * @subsection .micro-clearfix
 * @affected	IE6, IE7
 * @css-for		IE6, IE7
 * Include this rule to trigger hasLayout and contain floats.
 */
/*
.micro-clearfix {
	*zoom: 1;
}
*/


/**
 * .floatbox
 * @subsection .floatbox
 * @see	http://www.sitepoint.com/blogs/2005/02/26/simple-clearing-of-floats/
 * @see http://annevankesteren.nl/2005/03/clearing-floats
 */
.floatbox {
	overflow: hidden;
	/* overflow:auto; */
}

/**
 * .floatbox
 * @workaround
 * @affected	IE6
 * @css-for	IE6
 */
/*
 * html .floatbox {
	width: 100%;
	height: 100%
}
*/

/**
 * .floatbox
 * @workaround
 * @affected	IE7
 * @css-for 	IE7
 */
/*
* + html .floatbox {
	width: 100%;
	height: 100%
}
*/


/**
* @section default float classes
* .floatLeft
* .floatRight
* .floatNone
*/
/*.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-none {
	float: none !importan;
}
*/


/**
* @section default text alignment classes
* .vertical-align-top
* .vertical-align-middle
* .vertical-align-bottom
*/
/*
.vertical-align-top {
	display: table-cell;
	vertical-align: top !important;
}
.vertical-align-middle {
	display: table-cell;
	vertical-align: middle !important;
}
.vertical-align-bottom {
	display: table-cell;
	vertical-align: bottom !important;
}
.vertical-align-baseline {
	display: table-cell;
	vertical-align: baseline !important;
}
*/

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}


/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}


/**
 * Cover the translucent "browser-bar" on iOS7.
 * @example header style="postion:fixed; top:0; left:0">span.ios7-cover
 */
.ios7-cover {
	background: #f00;
	height: 240px;
	position: fixed;
	top: -240px;
	left: 0;
	z-index: 10000;
	width: 100%;
}


nav li {
	list-style: none;
}

