/**
 * @file base/button.css
 *
 * @description
 * Define all buttons here
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 * @TODO
 *
 */

/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the official CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

:root {
  /**
	 * typographic baseline
	 *
	 * font-size: 18px;
	 * line-height: 1.666;
	 * scale: 1.618; - golden section
	 * @see http://www.gridlover.net/app/
	*/
  /**
	 * colors
	 */
}

/**
 * @file base/_mediaqueries.myth.css
 *
 * @description
 * Define all your custom media queries
 * Use the oficial CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * @see http://dev.w3.org/csswg/mediaqueries/#custom-mq
 * @see https://github.com/segmentio/myth
 *
 * @example
 *
 * Definition:
 * @custom-media --narrow-window screen and (max-width: 30em);
 *
 * Include in your file as
 * @media (--narrow-window) {}
 *
 * Universal css
 * @media screen and (max-width: 30em) {}
 *
 *
 * @TODO
 *
 */

.type--button.button-download {
  background-color: #00C9FF;
  border-radius: 2px;
  display: inline-block;
  padding: 0px 9px;
  text-decoration: none;
  color: #fff;
}

.type--button.button-download .button-text {
  display: none;
}

.type--button.button-download .download-icon {
  background: url('../../assets/imgs/download-icon.png') no-repeat scroll 0% 0% transparent;
  content: "";
  display: inline-block;
  height: 15px;
  position: relative;
  width: 12px;
}

.type--button.button-play {
  background-color: rgba(255,255,255,0.3);
  border-radius: 60px;
  cursor: pointer;
  height: 120px;
  left: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}

.type--button.button-play:after {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid rgba(255,255,255,1);
  content: "";
  height: 0;
  left: 48px;
  position: absolute;
  top: 30px;
  width: 0;
}

@media screen and (min-width: 768px) {
  .type--button.button-play,
  .type--button.button-play:after,
  .type--button.button-download {
    -webkit-transition: all 350ms;
    transition: all 350ms;
  }

  .type--button.button-download {
    padding: 5px 25px;
    border: 1px solid #00C9FF;
  }

  .type--button.button-download:hover {
    background: #fff;
    color: #00C9FF;
    border: 1px solid #00C9FF;
  }

  .type--button.button-download .button-text {
    display: inline-block;
    font-family: 'NokiaPureRg';
  }

  .type--button.button-download .download-icon {
    background: url('../../assets/imgs/download-icon.png') no-repeat scroll 0% 0% transparent;
    content: "";
    display: inline-block;
    height: 15px;
    position: relative;
    width: 15px;
  }

  .type--button.button-play:hover {
    background-color: rgba(255,255,255,0.1);
  }

  .type--button.button-play:hover:after {
    border-left: 40px solid #00C9FF;
  }
}