/**
 * @file base/content.css
 *
 * @description
 * Define content styling here
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 * @TODO
 *
 */

/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the official CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

:root {
  /**
	 * typographic baseline
	 *
	 * font-size: 18px;
	 * line-height: 1.666;
	 * scale: 1.618; - golden section
	 * @see http://www.gridlover.net/app/
	*/
  /**
	 * colors
	 */
}

/**
 * @file base/_mediaqueries.myth.css
 *
 * @description
 * Define all your custom media queries
 * Use the oficial CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * @see http://dev.w3.org/csswg/mediaqueries/#custom-mq
 * @see https://github.com/segmentio/myth
 *
 * @example
 *
 * Definition:
 * @custom-media --narrow-window screen and (max-width: 30em);
 *
 * Include in your file as
 * @media (--narrow-window) {}
 *
 * Universal css
 * @media screen and (max-width: 30em) {}
 *
 *
 * @TODO
 *
 */

#content--scroll {
  border: 1px solid #cdcdcd;
  padding: 30px 15px 15px 15px;
}

.scroll-info {
  background: rgba(255,255,255,1);
  position: absolute;
  width: 100%;
}

.scroll-info.type--top {
  border-bottom: 3px solid rgba(190,200,210,0.5);
  height: 40px;
  top: 0;
  z-index: 10;
}

.scroll-info.type--bottom {
  border-top: 3px solid rgba(190,200,210,0.5);
  bottom: 0;
  height: 30px;
}

.content--headline {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.content--headline:not(:first-child) {
  margin-top: 70px;
}

.content--headline .type--highlight {
  display: block;
  text-align: center;
}

.content--copy {
  margin-bottom: 20px;
  text-align: center;
}

.content--stage {
  height: 100%;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.content--stage .fx--parallax {
  height: 300px;
  position: relative;
  -webkit-transform: none;
  transform: none;
}

.content--stage .fx--parallax img {
  position: relative;
  width: 100%;
}

.content--stage .content--download {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  top: 0;
  width: 100%;
}

.content--stage .content--download .download-element {
  width: 150px;
}

.content--stage .content--download .link-icon {
  display: block;
  margin: 0 auto 10px auto;
}

.content--stage .content--download .link-text {
  font-family: 'NokiaPureULt';
}

.content--stage .type--link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.content--download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content--download .download-element {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
}

.content--download .download-element .list-element-text {
  display: block;
  font-family: 'NokiaPureULt';
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.content--download .download-element .list-element-icon {
  display: block;
  height: 69px;
  margin: 0 auto 20px auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #content--scroll {
    border: none;
    padding: 60px;
  }

  .content--stage {
    height: 245px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-left: -60px;
    margin-right: -60px;
  }

  .content--stage .content--download {
    padding: 0 60px;
  }

  .content--headline {
    margin-bottom: 40px;
  }

  .content--headline:not(:first-child) {
    margin-top: 100px;
  }

  .content--copy {
    margin-bottom: 20px;
  }
}