/**
 * @file base/fonts.css
 *
 * Load webfonts
 *
 * recommended syntax:
 * http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
 *
 * Syntax Overview
 * http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 */

@font-face {
    font-family: 'NokiaPureULt';
    src: url('../../assets/fonts/NokiaPureHeadline_ULt.ttf');
}
@font-face {
    font-family: 'NokiaPureLt';
    src: url('../../assets/fonts/NokiaPureHeadline_Lt.ttf');
}
@font-face {
    font-family: 'NokiaPureRg';
    src: url('../../assets/fonts/NokiaPureHeadline_Rg.ttf');
}
@font-face {
    font-family: 'NokiaPureBd';
    src: url('../../assets/fonts/NokiaPureHeadline_Bd.ttf');
}
@font-face {
	font-family: 'nokiaicon';
	src: url('../../assets/fonts/iconfonts/nokiaicon?#iefix') format('embedded-opentype'), 
	     url('../../assets/fonts/iconfonts/nokiaicon.woff') format('woff'), 
	     url('../../assets/fonts/iconfonts/nokiaicon.ttf')  format('truetype'),
	     url('../../assets/fonts/iconfonts/nokiaicon.svg#nokiaicon') format('svg');
	font-weight: normal;
	font-style: normal;	   
}

