/**
 * @file base/grid.css
 *
 * @description
 *
 * Styles for the sitespecific grid
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the official CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

:root {
  /**
	 * typographic baseline
	 *
	 * font-size: 18px;
	 * line-height: 1.666;
	 * scale: 1.618; - golden section
	 * @see http://www.gridlover.net/app/
	*/
  /**
	 * colors
	 */
}

/**
 * @file base/_mediaqueries.myth.css
 *
 * @description
 * Define all your custom media queries
 * Use the oficial CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * @see http://dev.w3.org/csswg/mediaqueries/#custom-mq
 * @see https://github.com/segmentio/myth
 *
 * @example
 *
 * Definition:
 * @custom-media --narrow-window screen and (max-width: 30em);
 *
 * Include in your file as
 * @media (--narrow-window) {}
 *
 * Universal css
 * @media screen and (max-width: 30em) {}
 *
 *
 * @TODO
 *
 */

body {
  min-width: 320px;
}

/* mobile first! phone, < tablet*/

.type--grid-container {
  /* use 56percent of the window width - the image will scale, so will the margin */
  margin-top: 56vw;
  margin-right: 4px;
  margin-bottom: 0;
  margin-left: 4px;
  position: relative;
  /*	top:0;
	right: 0;
	left: 0;
	bottom:0;*/
  background: rgba(255,255,255,0.95);
  /*background: rgba(34,0,189,0.25);*/
  /*box-shadow: 0 0 3px 0 rgba(0,0,0,0.65);*/
}

#header--main {
  /* four values to let the element span the whole area */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 48px;
  margin-top: 2px;
  z-index: 10;
  background: rgba(255,255,255,1);
}

header nav {
  height: 48px;
}

.type--pagination {
  display: none;
}

@media screen and (min-width: 768px) {
  .type--grid-container {
    /* position fixed for the skrollr parallax effect */
    position: fixed;
    /* four values to let the element span the whole area */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* use the margin for the outer marings ( :D ), the baseline tries to keep the vertical rythm, add the header height */
    margin-top: 78px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    /* overflow hidden - scrollign is done with margin-top on the scroll element */
    overflow: hidden;
    background: rgba(255,255,255,0.95);
  }

  /* set the widht for each breakpoint */

  .type--grid-container {
    width: 700px;
  }

  #header--main {
    /* use half the baseline trying to keep the vertical rythm */
    margin-top: 15px;
  }

  /* enable manual scrolling if there's no skrollr instance but a desktop with. we're on a tablet: a mobile os device with desktop sized screen */

  .has-no-skrollr .type--grid-container {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .type--pagination {
    display: block;
    left: 760px;
  }
}

@media screen and (min-width: 1024px) {
  /* set the widht for each breakpoint */

  .type--grid-container {
    width: 930px;
  }

  .type--pagination {
    display: block;
    left: 990px;
  }
}