/**
 * @file base/reset.css
 *
 * @description
 * Universal css-resets to remove browser sepcific rules
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

* {

	/* remove webkit margins */
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;

	/* remove all margins and paddings */
	margin: 0;
	padding: 0;

	/*force border box for all elements */
	box-sizing: border-box;

	/* remove highlight on click */
	outline: none;

	/* remove highlight on tap */
	-webkit-tap-highlight-color: transparent;
}

