/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the oficial CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

/**
 * @file base/_mediaqueries.myth.css
 *
 * @description
 * Define all your custom media queries
 * Use the oficial CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * @see http://dev.w3.org/csswg/mediaqueries/#custom-mq
 * @see https://github.com/segmentio/myth
 *
 * @example
 *
 * Definition:
 * @custom-media --narrow-window screen and (max-width: 30em);
 *
 * Include in your file as
 * @media (--narrow-window) {}
 *
 * Universal css
 * @media screen and (max-width: 30em) {}
 *
 *
 * @TODO
 *
 */

@media screen and (max-width: 30em) {
	html {
		font-size: 1.2rem;
	}
}

a {
	color: #a6c776;
	-webkit-font-feature-settings: "smcp", "c2sc";
	-moz-font-feature-settings: "smcp", "c2sc";
	font-feature-settings: "smcp", "c2sc";
	font-variant: all-small-caps;
	-webkit-transition: color 1s;
	transition: color 1s;
}
