/**
 * @file base/typography.css
 *
 * @description
 * Define all font-families, font-size ( generally all font-* rules) and line-heights here
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 * @TODO
 *
 */

/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the official CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

:root {
  /**
	 * typographic baseline
	 *
	 * font-size: 18px;
	 * line-height: 1.666;
	 * scale: 1.618; - golden section
	 * @see http://www.gridlover.net/app/
	*/
  /**
	 * colors
	 */
}

/* debug */

/*
.type--grid:after {
	content: '';
	background-image: linear-gradient(rgba(0,0,0,0.5) 1px, rgba(255,0,0,0.15) 1px);
	background-size: 100% var(--base-line-height);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 23002;
	width: 100%;
	height: 100%;
	pointer-events: none;
}


 * {
	background-color: rgba(50,54,56,0.15);
	outline: 1px solid rgba(186,209,181,0.5);
}


::before {
	background-color: rgba(53,71,140,0.25);
	outline: 1px dashed rgba(53,71,140,0.95);
}


::after {
	background-color: rgba(255,85,0,0.35);
	outline: 1px dashed rgba(255,85,0,0.95);
}
*/

body {
  font-family: 'NokiaPureLt';
  font-size: 18px;
  line-height: 30px;
}

h1 {
  font-family: 'NokiaPureULt';
  font-size: 48px;
  line-height: 60px;
}

strong {
  font-family: 'NokiaPureBd';
}

.type--highlight {
  font-size: 72px;
}