<div class="slider-wrapper">
    <section id="slider">
        <h1>
		<f:translate key="landingpage.selector" extensionName="here_legal"></f:translate>
		</h1>
        <div>
<!--            <div class="arrows">
                <a href="#" id="slider-left" role="arrow"></a>
                <a href="#" id="slider-right" role="arrow" class="active"></a>
            </div>-->
            <div id="slider-items">
                <f:format.html parseFuncTSPath="">{contentLeft}</f:format.html>
            </div>
        </div>
    </section>
</div>