<div class="splash-wrapper">
    <div id="splash" style="background-image: url('{splashImage}')">
		<h2><f:translate key="landingpage.line" extensionName="here_legal"></f:translate></h2>
    </div>
</div>