<h2>Create your Account HERE</h2>

<f:flashMessages />


<f:form action="create" method="post" object="{user}" name="user">

	<div class="form-username">
		<label for="username">Username</label>
		<f:form.textfield property="username" id="username" />
		<f:render partial="PropertyError" arguments="{property: 'user.username'}" />
	</div>

	<div class="form-birthday">
		<label for="bday_month">Birthday</label>
		<f:form.select property="birthday.day" options="{days}">
			<option>1</option>
			<option>2</option>
		</f:form.select>

		<f:form.select property="birthday.month" options="{months}">
			<option>1</option>
			<option>2</option>
		</f:form.select>

		<f:form.select property="birthday.year" options="{years}">
			<option>2012</option>
			<option>2013</option>
		</f:form.select>
		<f:form.hidden property="birthday.dateFormat" value="Y-n-j" />

		<f:render partial="PropertyError" arguments="{property: 'user.birthday'}" />
	</div>


	<f:form.submit value="Sign me up!" />
</f:form>