<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Subsections</h1>

<f:flashMessages />

<table  class="tx_herehelp" >
	<tr>
		<th><f:translate key="tx_herehelp_domain_model_subsections.title" /></th>
		<th><f:translate key="tx_herehelp_domain_model_subsections.icon" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{subsectionss}" as="subsections">
		<tr>
			<td><f:link.action action="show" arguments="{subsections : subsections}"> {subsections.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{subsections : subsections}"> {subsections.icon}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{subsections : subsections}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{subsections : subsections}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Subsections</f:link.action>
</f:section>