<f:layout name="Default" />
<f:section name="main">

<h1><f:translate key="landingpage.form.headline" /></h1>

    <div class="buttons-set">

        <f:link.page pageUid="{blurringPid}" additionalParams="{panoramaid:'{panoramaid}',latitude:'{latitude}',longitude:'{longitude}',azimuth:'{azimuth}',polar:'{polar}',width:'width',height:'{height}',appId:'{appId}',appCode:'{appCode}'}">

            <button class="btn btn-outlined btn-block"><f:translate key="landingpage.button.blurringform" /></button>

        </f:link.page>

        <f:link.page pageUid="{imageQualityPid}" additionalParams="{panoramaid:'{panoramaid}',latitude:'{latitude}',longitude:'{longitude}',azimuth:'{azimuth}',polar:'{polar}',width:'width',height:'{height}',appId:'{appId}',appCode:'{appCode}'}">

            <button class="btn btn-outlined btn-block"><f:translate key="landingpage.button.imagequality" /></button>

        </f:link.page>

    </div>

</f:section>

