<div class="slider-wrapper">
    <section id="slider">


        <h1>{headline}</h1>
        <div>
            <div class="arrows">
                <a href="#" id="slider-left" role="arrow"></a>
                <a href="#" id="slider-right" role="arrow" class="active"></a>
            </div>
            <div id="slider-items">
                <ul>
                    <f:if condition="{activeApp}">
                        <f:then>
                            <f:render partial="Slider/Section/Apps" arguments="{apps: sections, subsection: subsection, activeApp: activeApp, activeSection: activeSection}"/>
                        </f:then>
                        <f:else>
                            <f:if condition="{sections}">
                                <f:then>
                                    <f:for each="{sections}" as="section">
                                        <li class="{f:if(condition: '{activeSection} == {section.uid}', then: 'active', else: '')}">
                                            <f:if condition="{section.subsections -> f:count()} == 1">
                                                <f:then>
                                                    <f:render partial="Slider/Section/Subsections1" arguments="{section: section}"/>
                                                </f:then>
                                                <f:else>
                                                    <f:render partial="Slider/Section/Subsections" arguments="{section: section}"/>
                                                </f:else>
                                            </f:if>
                                        </li>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <f:render partial="Slider/Section/Faqs" arguments="{section: subsection, uri: uri}"/>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </ul>
            </div>
        </div>
    </section>
</div>

<f:if condition="{hasSubsections}">
    <f:if condition="{sections -> f:count()} > 1">
        <f:if condition="{sections[0].subsections -> f:count()} > 1">
            <div class="container">
                <section id="slider-children">
                    <f:for each="{sections}" as="section">
                        <f:if condition="{section.subsections -> f:count()} == 0">
                            <f:then>
                                <f:comment>
                                    this section has no subsections, this branch should never be displayed
                                    because the section link should already jump to a brand new side
                                </f:comment>
                            </f:then>
                            <f:else>
                                <f:if condition="{section.subsections -> f:count()} == 1">
                                    <f:then>
                                        <f:comment>
                                        <f:debug>
                                            this section has only one subsection, this branch should never be displayed
                                            because the section link should already jump to a brand new side
                                        </f:debug>
                                        </f:comment>
                                    </f:then>
                                    <f:else>
                                        <ul id="items-{section.uid}" class="{f:if(condition: '{activeSection} == {section.uid}', then: 'active', else: '')}">
                                            <f:render partial="Slider/Subsections/Subsections" arguments="{section: section, activeSection: activeSection}"/>
                                        </ul>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:for>
                </section>
            </div>
        </f:if>
    </f:if>
</f:if>
