{namespace vh=Tx_Powermail_ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="form-group powermail_fieldwrap powermail_fieldwrap_textarea powermail_fieldwrap_{field.uid} {field.css}">

	<label for="powermail_field_{field.marker}" class="powermail_label">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<f:form.textarea
			rows="7"
			id="powermail_field_{field.marker}"
			name="field[{field.uid}]"
			value="{vh:Misc.PrefillField(field: '{field}')}"
			class="form-control powermail_field powermail_textarea {vh:Misc.ValidationClass(field: '{field}')} {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}"
            additionalAttributes="{maxlength: 2000}" />
</div>
