<div class="container-wrapper">
    <f:render partial="header" arguments="{_all}" />

    <div class="container">
        <f:render partial="breadcrumb" arguments="{_all}" />

        <f:render partial="search" arguments="{_all}" />
    </div>

    <f:format.html parseFuncTSPath="">{content}</f:format.html>
</div>
<f:render partial="footer" arguments="{_all}" />