<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="imagequality.form.headline" /></h1>

<f:render partial="FormErrors" arguments="{object:ImageQuality}" />

<f:form action="create"  name="newImageQuality" object="{newImageQuality}">

    <f:render partial="ImageQuality/FormFields" />

    <div class="buttons-set">
        <input type="reset" class="cancel btn btn-outlined" value="{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.cancel')}" />
        <f:form.submit class="submit btn btn-outlined-disabled" value="{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.submit')}" />
        <br/>
        <br/>
    </div>

    <f:form.hidden name="panoramaid" value="{panoramaid}" />
    <f:form.hidden name="latitude" value="{latitude}" />
    <f:form.hidden name="longitude" value="{longitude}" />
    <f:form.hidden name="azimuth" value="{azimuth}" />
    <f:form.hidden name="polar" value="{polar}" />
    <f:form.hidden name="width" value="{width}" />
    <f:form.hidden name="height" value="{height}" />
    <f:form.hidden name="appId" value="{appId}" />
    <f:form.hidden name="appCode" value="{appCode}" />

</f:form>
</f:section>