<h1><f:translate key="form.successHeadline" /></h1>

<p class="lead">
    <f:translate key="form.successLeadtext" />
</p>

<div class="buttons-set">
    <a href="#"><button class="btn btn-outlined btn-block"><f:translate key="form.successPrimaryButton" /></button></a>
</div>