<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Questions</h1>

<f:flashMessages />

<table  class="tx_herehelp" >
	<tr>
		<th><f:translate key="tx_herehelp_domain_model_questions.question" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{questionss}" as="questions">
		<tr>
			<td><f:link.action action="show" arguments="{questions : questions}"> {questions.question}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{questions : questions}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{questions : questions}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Questions</f:link.action>
</f:section>