	@font-face {
           font-family:'NokiaPureTextRegular';
           src:url('../fonts/nokiapuretext-regular-webfont-optimized.eot');
           src:url('../fonts/nokiapuretext-regular-webfont-optimized.eot?#iefix') format('embedded-opentype'),
               url('../fonts/nokiapuretext-regular-webfont-optimized.woff') format('woff'),
               url('../fonts/nokiapuretext-regular-webfont-optimized.ttf') format('truetype'),
               url('../fonts/nokiapuretext-regular-webfont-optimized.svg#nokia_pure_textregular') format('svg');
           font-style:normal;
           font-weight:normal;
       }

       * {
           -moz-box-sizing: border-box;
           box-sizing: border-box;
       }

       html,
       body {
           height: 100%;
           margin: 0;
           padding: 0;
       }

       body {
           background-color: #fff;
           font-family: 'NokiaPureTextRegular', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
       }

       a:link    {color:#00c9ff; text-decoration: none;}
       a:visited {color:#00c9ff; text-decoration: none;}
       a:active  {color:#00aad9; text-decoration: underline;}
       a:hover   {color:#00b4e5; text-decoration: underline;}

       .header {
           padding-top: 30px;
       }

       .header img {
           height:36px;
           width:36px;
       }

       .header p {
           font-size: 22px;
       }

       .left_column {
           background-image: url(../img/here.png);
           background-repeat: no-repeat;
           background-size: 50px 50px;
           float: left;
           height: 50px;
           position: absolute;
           width: 50px;
       }

       .error_body {
           float: left;
           height: 100%;
           margin: auto;
           text-align: center;
           width: 100%;
       }

       .error_body div {
           margin: 0 15px;
       }

       .content {
           padding-top: 35px;
       }

       .content div {
           margin: auto;
       }

       .content .first_line {
           font-size: 16px;
           padding-bottom: 10px;
       }

       .content .explanation {
           color: #666;
           font-size: 14px;
           padding-bottom: 38px;
       }

       .content .call_to_action {
           font-size: 14px;
           padding-top: 10px;
           padding-bottom: 15px;
           color: #666;
       }

       .call_to_action a,
       .call_to_action button {
           color: #00c9ff;
           font-size: 13px;
           position: relative;
           text-decoration: none;
       }

       .call_to_action a:hover,
       .call_to_action button:hover {
           color: #00b4e5;
       }

       hr {
           border-top: 1px solid #d9d9d9;
           border-right: 25px solid #fff;
           border-bottom: 0 none;
           border-left: 25px solid #fff;
           height: 1px;
           max-width: 600px;
           margin: 0 auto;
           padding: 0 15px;
       }


.horizontal_line {
   max-width: 480px;
}