{namespace mee=Meelogic\HereLegal\ViewHelpers}

<label for="country"><f:translate key="selectorlabel" /></label>
<mee:select userLanguage="{userLanguage}" userCountry="{userCountry}" uri="{currentUri}" pageMappingData="{pageMappingData}" />