<f:form.validationResults for="{property}">
	<f:if condition="{validationResults.flattenedErrors}">
		<span class="error-message">
			<f:for each="{validationResults.errors}" as="error">
                {error}
			</f:for>
		</span>
	</f:if>
</f:form.validationResults>