{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail Confirm Failed Page

<f:section name="main">
	<f:render partial="FormError" arguments="{error}" />

    <div id="flashbag">
        <div class="powermail_create alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>

            <f:flashMessages class="powermail_message powermail_message_error" />
            <f:translate key="optin_mail_confirm_failed" />
        </div>
	</div>
</f:section>