{namespace mee=Meelogic\HereHelp\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

    <f:render partial="Slider" arguments="{_all}" />

    <div class="container">
        <section id="content" class="questions">
            <f:if condition="{app}">
                <f:then>
                    <f:if condition="{faqs}">

                        <f:if condition="{faqs -> f:count()} == 1">
                            <f:then>
                                <ul class="root">
                                    <mee:topics array="{faqs.0}" />
                                </ul>
                            </f:then>
                            <f:else>
                                <ul class="root">
                                    <mee:topics array="{faqs}" />
                                </ul>
                            </f:else>
                        </f:if>
                     </f:if>


                </f:then>
                <f:else>
                    <f:if condition="{faqs}">

                        <ul class="root">
                            <mee:topics array="{faqs}" />
                        </ul>

                     </f:if>

                </f:else>

            </f:if>
        </section>
    </div>

</f:section>