{namespace mee=Meelogic\HereHelp\ViewHelpers}

<f:for each="{apps}" as="app">
    <li class="{f:if(condition: '{activeApp} == {app.uid}', then: 'active', else: '')}">
        <f:if condition="{activeApp}">
            <f:then>
                <mee:sliderurl array="{app.paths},{app.uid},1,{app.icon},{app.title},0" />
            </f:then>
            <f:else>
                <mee:sliderurl array="{app.paths},{app.uid},{section.uid},{subsection.icon},{subsection.title},0" />
            </f:else>
        </f:if>
    </li>
</f:for>