<f:if condition="{section.faqs -> f:count()} == 0">
    <f:then>
        <a href="#" class="inactive">
            <f:if condition="{section.icon}">
                <f:image src="{settings.imagesPath}{section.icon}" alt="{section.title}" title="{section.title}" />
            </f:if>
            {section.title}
        </a>
    </f:then>
    <f:else>
        <li class="active">
            <a href="//{uri}">
                <f:if condition="{section.icon}">
                    <f:image src="{settings.imagesPath}{section.icon}" alt="{section.title}" title="{section.title}" />
                </f:if>
                {section.title}
            </a>
        </li>
    </f:else>
</f:if>