{namespace mee=Meelogic\HereHelp\ViewHelpers}
<f:for each="{section.subsections}" as="subsection">
    <f:if condition="{subsection.apps -> f:count()} == 0">
        <f:then>
            <mee:sliderlink array="{subsection}" />
        </f:then>
        <f:else>
            <f:if condition="{subsection.apps -> f:count()} == 1">
                <f:then>
                    <f:render partial="Slider/Section/Apps1" arguments="{section: section, subsection: subsection, apps: subsection.apps}"/>
                </f:then>
                <f:else>
                    <f:render partial="Slider/Section/Apps" arguments="{section: section, apps: subsection.apps}"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:for>