<f:if condition="{section.subsections -> f:count()} == 0">
    <f:then>
        <f:render partial="Slider/Section/Faqs" arguments="{section: section}"/>
    </f:then>
    <f:else>
        <a href="#" rel="items-{section.uid}">
            <f:if condition="{section.icon}">
                <f:image src="{settings.imagesPath}{section.icon}" alt="{section.title}" title="{section.title}" />
            </f:if>
            {section.title}
        </a>
    </f:else>
</f:if>