/**
 * @file modules/base.css
 *
 * @description
 * Defines overall - basic - styles for all modules
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */
[class^="icon-"], [class*=" icon-"] {
	font-family: 'nokiaicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
