/**
 * @file modules/fx-parallax.myth
 *
 * @description
 * Defines styles for the bg-parallax effect
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

/**
 * @file base/_variables.myth.css
 *
 * @description
 * Define all your css-variables.
 * Use the official CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * Import this file in every css file you're using the variables:
 * @import url(_variables.myth);
 *
 * @see http://dev.w3.org/csswg/css-variables/
 * @see https://github.com/segmentio/myth
 *
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

:root {
  /**
	 * typographic baseline
	 *
	 * font-size: 18px;
	 * line-height: 1.666;
	 * scale: 1.618; - golden section
	 * @see http://www.gridlover.net/app/
	*/
  /**
	 * colors
	 */
}

/**
 * @file base/_mediaqueries.myth.css
 *
 * @description
 * Define all your custom media queries
 * Use the oficial CSS-Spec, myth.io will generate universal css as long as it's necessary.
 *
 * @see http://dev.w3.org/csswg/mediaqueries/#custom-mq
 * @see https://github.com/segmentio/myth
 *
 * @example
 *
 * Definition:
 * @custom-media --narrow-window screen and (max-width: 30em);
 *
 * Include in your file as
 * @media (--narrow-window) {}
 *
 * Universal css
 * @media screen and (max-width: 30em) {}
 *
 *
 * @TODO
 *
 */

.fx--parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
}

.fx--parallax img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .fx--parallax {
    background-size: cover;
    /* TODO replace transform with appropriate scaling */
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform-origin: center top;
    transform-origin: center top;
    /*height: calc(100vh + 50px);*/
  }

  .fx--parallax img {
    width: auto;
    height: auto;
    max-width: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .fx--parallax {
    background-size: cover;
  }
}