/**
 * @file modules/header.css
 *
 * @description
 * Defines header styles
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */

.icon-contact:before {
	content: "\e600";
	font-size: 26px;
}
.icon-navigation:before {
	content: "\e601";
	font-size: 26px;
}
.icon-phone:before {
	content: "\e602";
}

header#header--main{
	font-family: 'NokiaPureRg';
	background: none;
}

header nav ul{
	float: right;
}

header nav li{
	float: left;
	padding-right: 1px;
}
header nav li:first-child{
	padding: 0;
	height: 10px;
	position: absolute;
	left: 0;
}
header nav li:first-child a{
	padding: 0;
}
header nav li:last-child{
	padding-right: 0;
}
header nav li a{
	text-decoration: none;
	display: block;
}

header nav .type--link{
	padding: 9px 17px;
	font-size: 14px;
}

header nav .download-link{
	background-color: #00C9FF;
	background-image: url(../../assets/imgs/download-icon.png);
	background-position: right 16px center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	padding-right: 46px;
}
header nav .contact-link, header nav .navigation-link{
	background-color: #f8f8f8;
	color: #5b5a62;
	padding: 11px 17px;
}
