/**
 * @file modules/header.css
 *
 * @description
 * Defines pagination styles
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 3. Indent your rules, only one rule per line.
 * 4. Keep proprietary properties directly below the proposed property.
 * 5. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @TODO
 *
 */


.type--pagination{
	position: fixed;
	top: 66px;
}

.type--pagination ul{
	list-style-type: none;
}

.type--pagination a{
	border-radius: 5px;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #fff;
	border:1px solid rgba(0,0,0,0.4);
}

.type--pagination a.selected{
	background: #08c7fb;
	border: none;
}