<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for FAQs</h1>

<f:flashMessages />

<table  class="tx_herehelp" >
	<tr>
		<th><f:translate key="tx_herehelp_domain_model_faqs.headline" /></th>
		<th><f:translate key="tx_herehelp_domain_model_faqs.title" /></th>
		<th><f:translate key="tx_herehelp_domain_model_faqs.transitdb" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fAQss}" as="fAQs">
		<tr>
			<td><f:link.action action="show" arguments="{fAQs : fAQs}"> {fAQs.headline}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fAQs : fAQs}"> {fAQs.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fAQs : fAQs}"> {fAQs.transitdb}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fAQs : fAQs}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fAQs : fAQs}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New FAQs</f:link.action>
</f:section>