
<div class="inner">

    <div class="radios">

        <fieldset>
            <f:form.radio name="whattoblur" id="nomatch" value="incorrect location" /> <label for="nomatch">{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.imagemapnomatch')}</label>
        </fieldset>

        <fieldset>
            <f:form.radio name="whattoblur" id="viewobstructed" value="obstructed view" /> <label for="viewobstructed">{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.viewobstructed')}</label>
        </fieldset>

        <fieldset>
            <f:form.radio name="whattoblur" id="poorquality" value="poor quality" /> <label for="poorquality">{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.poorquality')}</label>
        </fieldset>

    </div>

    <div class="checkbox">
        <f:form.checkbox name="notifyme" id="notifyme" value="1" />
        <label for="notifyme"><f:translate key="tx_heresliblurring_domain_model_blurring.notifyme" /></label>

        <div rel="notifyme" class="hidden">
            <input class="email" type="text" name="tx_heresliblurring_sliblurring[newImageQuality][email]" placeholder="{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:emailinput.value')}" />
        </div>
    </div>

</div>
