<div class="container-wrapper">
    <f:render partial="header" arguments="{_all}" />

    <f:render partial="splash" arguments="{_all}" />
    <f:render partial="slider" arguments="{_all}" />

    <div class="container">
        <section id="content" class="recent">
			<f:if condition="{content}!=''">
				<div class="historyHeader"><f:translate key="landingpage.history" extensionName="here_legal"/></div>				
				<div class="historyItems"><f:format.html parseFuncTSPath="">{content}</f:format.html></div>
			</f:if>
        </section>
    </div>
</div>

<f:render partial="footer" arguments="{_all}" />