
<div class="container-wrapper">

    <f:render partial="header" arguments="{_all}" />

    <div class="container">

        <section id="mobile-legal-menu">
            <f:render partial="mobile-legal-menu" arguments="{_all}" />
        </section>

        <section id="sidebar">
            <f:format.html parseFuncTSPath="">{selector}</f:format.html>
            <f:render partial="subnav" arguments="{_all}" />
        </section>

        <section id="content" class="detail">
            <f:format.html parseFuncTSPath="">{content}</f:format.html>
        </section>
    </div>

</div>

<f:render partial="footer" arguments="{_all}"  />