{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form id="fluidfluxcontent" label="Fluid/FluxContent" icon="EXT:here_provider/ext_icon.gif">
		<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->

		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="Main" style="width: 100%" />
			</flux:grid.row>
		</flux:grid>

	</flux:form>
</f:section>

<f:section name="Preview">
	<!-- uncomment this to use a grid for nested content elements -->
	<!-- <flux:widget.grid /> -->
</f:section>

<f:section name="Main">
	Hello world!
</f:section>
</div>