{namespace mee=Meelogic\HereHelp\ViewHelpers}

<section id="header">
    <mee:homebutton />
    <a href="#" id="header-menu-mobile"></a>
    <f:format.html parseFuncTSPath="">{metaNav}</f:format.html>

    <mee:langmenu />
</section>