{namespace mee=Meelogic\HereHelp\ViewHelpers}
    <f:if condition="{searchResult}">
        <f:then>

            <div class="tx-indexedsearch">
                <div class="tx-indexedsearch-whatis">
                    <f:translate key="LLL:EXT:here_help/Resources/Private/Language/locallang.xlf:tx_herehelp_controller_search.searchresults" />
                </div>

                <div class="tx-indexedsearch-res">
                    <div id="result">

                        <f:for each="{searchResult}" as="result">
                            <div class="item">
                                <mee:search array="{result}" />
                            </div>
                        </f:for>

                    </div>
                </div>
            </div>

        </f:then>
        <f:else>
            <f:translate key="LLL:EXT:here_help/Resources/Private/Language/locallang.xlf:tx_herehelp_controller_search.noresultsfound" />
        </f:else>
    </f:if>