
    <!-- use picture ? -->
    <!-- <div class="fx--parallax" style="background-image: url('../assets/imgs/bg.png')" data-0="top:0px" data-_contentheight="top:-50px"></div> -->
    <!-- <img sizes="100vw" srcset="./assets/imgs/bg-320.png 320px, ../assets/imgs/bg.png"  > -->


    <picture  class="fx--parallax"  data-start="top:0px" data-end="top:-50px">
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="fileadmin/templates/nokiatemplate/Public/assets/imgs/bg-320.png" media="(max-width: 767px)">
      <source srcset="fileadmin/templates/nokiatemplate/Public/assets/imgs/bg.png " media="(min-width: 768px)">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="fileadmin/templates/nokiatemplate/Public/assets/imgs/bg-320.png" alt=" ">
    </picture>

    <header id="header--main" class="type--grid-container">
      <nav>
        <ul>
          <li><a class="type--link home-link" href="/#home"><img src="fileadmin/templates/nokiatemplate/Public/assets/imgs/logo--here.png" alt="HERE" width="48" height="48"></a></li>
          <li><a class="type--link download-link" href="/#home">Download App</a></li>
          <li><a class="type--link contact-link icon-contact" href="/#home"></a></li>
          <li><a class="type--link navigation-link icon-navigation" href="/#home"></a></li>
        </ul>
      </nav>
    </header>

    <section class="type--grid-container content" id="content--main">
      <div class="scroll-info type--top"></div>
          <div id="content--scroll" data-start="margin-top:0px" data-end="">
            <f:cObject typoscriptObjectPath="lib.sectionContent"/>
          </div>
        <hr/>
      <div class="scroll-info type--bottom"></div>
    </section>

    <div class="type--pagination fx--pagination">
      <f:cObject typoscriptObjectPath="lib.field_sitemenu"/>

    </div>

    <footer id="footer--main">
      <nav>
        <f:cObject typoscriptObjectPath="lib.field_submenu"/>
      </nav>
    </footer>

