<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Answers</h1>

<f:flashMessages />

<table  class="tx_herehelp" >
	<tr>
		<th><f:translate key="tx_herehelp_domain_model_answers.answer" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{answerss}" as="answers">
		<tr>
			<td><f:link.action action="show" arguments="{answers : answers}"> {answers.answer}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{answers : answers}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{answers : answers}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Answers</f:link.action>
</f:section>