
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/Tx_Vhs_ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:section name="Configuration">
	<flux:form id="hereextranetmain" label="HERE Extranet Layout">
	</flux:form>

	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="1" name="Main Content"/>
		</flux:grid.row>
	</flux:grid>

</f:section>

<f:section name="Main">
	{custom_variable}
	<v:content.render column="1" />
</f:section>

</div>
