{namespace mee=Meelogic\HereHelp\ViewHelpers}

<f:for each="{apps}" as="app" iteration="appi">
    <f:if condition="{appi.isFirst}">
        <mee:sliderurl array="{app.paths},{app.uid},{section.uid},{subsection.icon},{subsection.title},0" />
    </f:if>
</f:for>