{namespace mee=Meelogic\HereHelp\ViewHelpers}

<f:if condition="{subsection.faqs -> f:count()} == 0">
    <f:then>
        <a href="#" class="inactive">
            <f:if condition="{section.icon}">
                <f:image src="{settings.imagesPath}{section.icon}" alt="{section.title}" title="{section.title}" />
            </f:if>
            {section.title}
        </a>
    </f:then>
    <f:else>
        <mee:sliderurl array="{subsection.paths},{subsection.uid},{section.uid},{subsection.icon},{subsection.title},1" />
        <f:comment>
        <f:link.action action="show" arguments="{sections: sections}" additionalParams="{sec: '{section.uid}', sub: '{subsection.uid}'}">
            <f:if condition="{section.icon}">
                <f:image src="{settings.imagesPath}{section.icon}" alt="{section.title}" title="{section.title}" />
            </f:if>
            {section.title}
        </f:link.action>
        </f:comment>
    </f:else>
</f:if>
