<f:for each="{section.subsections}" as="subsection">
    <li>
        <f:if condition="{subsection.apps}">
            <f:then>
                <f:render partial="Slider/Subsections/Apps" arguments="{section: section, subsection: subsection, apps: subsection.apps}" />
            </f:then>
            <f:else>
                <f:render partial="Slider/Subsections/Faqs" arguments="{section: section, subsection: subsection}" />
            </f:else>
        </f:if>
    </li>
</f:for>