<div class="inner">

    <div class="radios">
        <fieldset>
            <f:form.radio name="whattoblur" id="numberplate" value="license plate" /> <label for="numberplate">{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.carplate')}</label>
        </fieldset>

        <fieldset>
            <f:form.radio name="whattoblur" id="someonesface" value="face" /> <label for="someonesface">{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.face')}</label>
            <div rel="someonesface" class="hidden">
                <textarea rows="15" cols="40" name="tx_heresliblurring_sliblurring[newBlurring][message]" placeholder="{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:textarea.value')}"></textarea><br />
            </div>
        </fieldset>

        <fieldset>
            <f:form.radio name="whattoblur" id="something" value="other" /> <label for="something">{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:form.else')}</label><br />
            <div rel="something" class="hidden">
                <textarea rows="15" cols="40" name="tx_heresliblurring_sliblurring[newBlurring][message]" placeholder="{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:textarea.value')}"></textarea><br />
            </div>
        </fieldset>
    </div>

    <div class="checkbox">
        <f:form.checkbox name="notifyme" id="notifyme" value="1" />
        <label for="notifyme"><f:translate key="tx_heresliblurring_domain_model_blurring.notifyme" /></label>

        <div rel="notifyme" class="hidden">
            <input class="email" type="text" name="tx_heresliblurring_sliblurring[newBlurring][email]" placeholder="{f:translate(key:'LLL:EXT:here_sliblurring/Resources/Private/Language/locallang.xlf:emailinput.value')}" />
        </div>
    </div>

</div>
