@font-face {
    font-family:'NokiaPureTextRegular';
    src:url('../Fonts/nokiapuretext-regular-webfont-optimized.eot');
    src:url('../Fonts/nokiapuretext-regular-webfont-optimized.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/nokiapuretext-regular-webfont-optimized.woff') format('woff'),
    url('../Fonts/nokiapuretext-regular-webfont-optimized.ttf') format('truetype'),
    url('../Fonts/nokiapuretext-regular-webfont-optimized.svg#nokia_pure_textregular') format('svg');
    font-style:normal;
    font-weight:normal;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* begin: global bootstrap overrides */
a,
a:link,
a:hover,
a:active{
/*    color: #00b4e5;*/
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #00b4e5;
}

a:active {
    color: #fff;
    background-color: #00aad9;
}

.lead {
    text-align: center;
    color: #666;
}

.btn-block {
    margin: 15px 0;
}

.btn {
    min-width: 80px;
    border-radius: 3px;
}

/* New outlined button style */

.btn-outlined {
    background-color: #fff;
    border: 1px solid #00b4e5;
    font-family: 'NokiaPureTextRegular', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 14px;
    color: #00b4e5;
    height: 38px;
}

.btn-outlined:hover {
    background-color: #00b4e5;
    color: #fff;
}

.btn-outlined:focus,
.btn-outlined:active {
    background-color: #00aad9;
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn-outlined-disabled {
    background-color: #d9d9d9;
    color: #000;
    opacity: 0.2 !important;
}

.btn-outlined-primary {
    background: #00c9ff;
    border: 1px solid #00c9ff;
    color: #fff;
}

.btn-outlined-primary:hover {
    background-color: #00b4e5;
    border: 1px solid #00b4e5;
    color: #fff;
}

.btn-outlined-primary:focus,
.btn-outlined-primary:active {
    background-color: #00aad9;
    border: 1px solid #00aad9;
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* end outlined */

.btn-info,
.btn-info:link,
.btn-info:active,
.btn-info:visited,
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
    background: white;
    border: 1px solid #00b4e5;
    color: #00b4e5;
}

.btn-primary,
.btn-primary:link,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #00b4e5;
    border: 1px solid #00b4e5;
    color: #ffffff;
}

.btn-disabled,
.btn-disabled:link,
.btn-disabled:active,
.btn-disabled:visited,
.btn-disabled:hover,
.btn-disabled:active,
.btn-disabled:focus {
    color: rgb(198, 198, 198);
    border: 1px solid rgb(247, 247, 247);
    background: rgb(247, 247, 247);
}

/* end: global bootstrap overrides */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/here.png);
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

body {
    background-color: white;
    font-family: 'NokiaPureTextRegular', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: #000;
}

.left_column {
    /*  added image to the body */
    /*
        background-image: url(../img/here.png);
        background-repeat: no-repeat;
        background-size: 75px 75px;
        float: left;
        height: 75px;
        position: absolute;
        width: 75px;*/
}

.tx_sliblurring .content {
    padding-bottom: 40px;
}

.tx_sliblurring {
    padding: 40px 0;
    text-align: center;
    float: left;
    height: 100%;
    margin: auto;
    width: 100%;
}

.tx_sliblurring .content {
    text-align: left;
    width: 270px;
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
}

.tx_sliblurring .radios {
    margin: 0 0 0 10px;
}

.tx_sliblurring .buttons-set {
    margin: 30px auto 15px;
    text-align: center;
}

.tx_sliblurring h1 {
    font-size: 28px;
    color: #000;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
}

.tx_sliblurring textarea,
.tx_sliblurring input.email {
    margin-bottom: 0;
    margin-top: 10px;
    width: 250px;
    height: 23px;
    color: #000;
    border: 1px solid #e2e9ef;
    border-top-color: #aaadb2;
    border-radius: 2px;
    box-shadow: none;
    resize: none;
    outline: none;
}

.tx_sliblurring input.email {
    line-height: 23px;
    padding: 0 5px;
}

.tx_sliblurring textarea {
    height: auto;
    max-height: 75px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.tx_sliblurring textarea:focus,
.tx_sliblurring input.email:focus {
    color: #666 !important; /* need to care about javascript style-set here */
}

.tx_sliblurring label {
    font-weight: normal;
    display: inline-block;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

.tx_sliblurring .cancel,
.tx_sliblurring .submit {
    min-width: 80px;
    height: 38px;
}

.tx_sliblurring .cancel {
    margin-right: 15px;
}

/* radio buttons */
input[type=radio] {
    margin-right: 7px;
}

.checkbox input[type="checkbox"] {
    position: static;
    margin-left: 0;
    margin-right: 7px;
    vertical-align: middle;
    margin-top: 0;
}

fieldset {
    line-height: 15px;
    margin-bottom: 5px;
}

.checkbox {
    margin: 15px 0 10px 10px;
}

.checkbox label {
    padding-left: 0;
}

@media (min-width: 767px) {
    .tx_sliblurring .content {
        width: 630px;
    }

    .tx_sliblurring .content .radios,
    .tx_sliblurring .content .checkbox,
    .tx_sliblurring .content .buttons-set {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    .tx_sliblurring h1 {
        font-size: 38px;
        padding-bottom: 24px;
    }

    /*
    .tx_sliblurring .content .buttons-set {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    .tx_sliblurring .content .buttons-set .submit {
        float: right;
    }
    */
}