
    <div class="left_column"></div>

    <div class="error_body">

        <div class="header">
            <div>

                <img src="fileadmin/templates/help-landingpage/img/icon_help.svg" alt="" />

            </div>
            <p>
                <f:format.html parseFuncTSPath="">{headline}</f:format.html>
            </p>
        </div>

        <hr>

        <div class="content">

            <f:format.html parseFuncTSPath="">{bodytext}</f:format.html>

        </div>
