<h1><f:translate key="form.errorHeadline" /></h1>

<p class="lead">
    <f:translate key="form.errorLeadtext" />
</p>

<div class="buttons-set">
    <a href="#"><button class="btn btn-outlined btn-block"><f:translate key="form.errorPrimaryButton" /></button></a>
</div>